@model TrelloVm

<h1>Trello stuff</h1>

<a asp-action="SeeAllBoards" class="btn btn-default">See All Boards</a>
<a asp-action="SeeAllBoardLists" class="btn btn-default">See All Lists in Board</a>
<a asp-action="AddPost" class="btn btn-default">Add Post To List</a>






