
<div class="jumbotron text-center" >
    <h1>Stuff to do</h1>
</div>

<div class="text-center">
    <a asp-controller="Task" asp-action="GetAll">See all tasks</a>
    <a asp-controller="Task" asp-action="GetById">See task with id</a>
</div>