
<div class="jumbotron text-center" >
    <h1>Stuff to do</h1>
</div>

<div class="text-center">
    <a asp-controller="Task" asp-action="GetAll">See all tasks</a>
    <a asp-controller="Task" asp-action="GetById">See task with id</a>

    <hr />

    <h2>Find task</h2>
    <form asp-controller="Task" asp-action="GetById" method="get">
        <input name="id" />
        <button type="submit">Ok</button>
    </form>
    
    <hr />


</div>