<style>
    * {
        font-family: Arial;
    }
</style>

<h1>Home</h1>

<a href="/Product/Testy" style="display: block">Testy</a>
<a href="/Product/Yrittää" style="display: block">Yrittää</a>
<a href="/Product/ListAllProducts" style="display: block">Lista alla produkter</a>