
@model List<ToDo.Models.Task>;


<div class="jumbotron text-center">
    <h1>Tasks to do </h1>
</div>

<div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Ranking</th>
        </tr>
        @foreach (ToDo.Models.Task task in @Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Ranking</td>
            </tr>
        }
    </table>
</div>

<div class="text-center">
    <a asp-controller="Home" asp-action="Index">Go back to main menu</a>
</div>
